

/*tamaños mayores a 1200px usan el estilo normal*/
*{
  margin:0px;
  padding: 0px;
  font-family: 'open', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color:#F5F5F5;
  
}
section{ display: flex;
  flex-wrap: nowrap;
 }
header{
  margin: 0;
  padding: 0;
  background-color : #FFE521;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  height: 10.6%;
  background-image: url(imagen/flechasrosadas.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position-x: 95%;
  
}
select{align-items: center;}
.vistaclick{padding-left:0px;}
p{  margin: 0;
  padding: 0;
  
  font-size: 1.3125rem;
  font-weight: 700;
  font-family: bitter, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.16667em;
  
 } 
 .text {color :white;}
 
 
   
  .logo1{width: 250px;
    height: 5%;
  
 }
  
 

  article{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   align-content: center;
  
  }

.headerstyle{
  margin: 20px center;
 
  border:10px;
  
 }
 .filtros{
  padding-left: 17px;}
 
 .flechitas{
  display: flex;
    float:right;
    top:10px;
  }
.class1{
  
  margin-top: 65px;
  padding:4%;
  padding-left:200px;
}
.class2{ 
  margin-top: 65px;
  padding:4%;
  padding-left:0px;
}
div.sedes{
  width: calc(100% - 300px);
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}
  .botonnav{
    margin-top: 1px;
  margin-left: 20px;
  margin-bottom: 6px;
  min-width: 5%;
  min-height: 2px;
  background-image: url(listaboton.svg);
  background-size: 45px;
  background-position-x: 11px;
  background-position-y: 9px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1px;
  background-repeat: no-repeat;
  background-color: #ffffff81;
  border-radius: 20px;
  border: #f3a8a881;
  cursor: pointer;}
   
   .students{
     border-color: #0f0f0f
   }


.listStudents{
  display: flex;
  flex-wrap: wrap; /* evita que todos los .card esten en una fila*/
}

.card {
  border: 1px solid #000;
  width: 32%;
  max-width: 32%;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  border-radius: 5px;
 
  box-shadow: -1px 7px 16px -1px rgba(0,0,0,1);
  border: groove;
  background-color:#fff;



}

.card .avatar {
  width: 30%;
  box-sizing: border-box;
  float: left;
  padding: 5px;
}

.card .avatar img {
  max-width: 100%;
}

.card .stats {
  width: 70%;
  box-sizing: border-box;
  float: left;
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.card .stats h3{
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.card .stats h4{
  font-size: 16px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

}

.card:hover {
  border-color: #FFE521;
  box-shadow: inset 9px -2px 269px -40px  #FFE521;
  color: #030304;
  cursor: pointer;
}


/*tamaños hasta 1200px*/
@media (max-width: 1400px) {
 .listStudents {
    
  }
  .card {
    width: 48%;
    border-top: 1px solid transparent; 
    border-bottom: 1px solid transparent; 
  }
  .card .stats {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h4{
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  
  }
}

/*tamaños hasta 992px*/
@media (max-width: 992px)
{ .listStudents {
  flex-wrap: wrap;
  ;
}
  .class1{
    padding-left:8px ;
    margin-top: 165px;
    padding: 4%; 

  }
  section{ 
    flex-wrap: nowrap;
    display: block,
   }

  
  header{
    margin: 0;
    padding: 0;
    background-color : #FFE521;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    height: 20.6%;
    background-image: none;
  }
}

  .card {
    border: 1px solid #000;
    max-width: 40%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 5px;
   box-shadow: -1px 7px 16px -1px rgba(0,0,0,1);
    border: groove;
    background-color:#fff;
    border-top: 1px solid transparent; 
    border-bottom: 1px solid transparent; 
  }
  
  .card .avatar {
    width: 120px;
    box-sizing: border-box;
    float: left;
    padding: 5px;

  }
  
  .card .avatar img {
    max-width: 100%;
  }
  
  .card .stats {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h4{
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  
  }
  
  .card .stats p{
    font-size: 14px;
    font-weight: normal;
  }
  .card:hover {
    border-color: #FFE521;
    box-shadow: inset 9px -2px 269px -40px  #FFE521;
    color: #030304
  }
}  


/*tamaños hasta 768px*/
@media (max-width: 768px) 
{ 
  .listStudents {
    display: flex;
    flex-wrap: wrap;
}
  .class1{
    padding-left:8px ;
    margin-top: 165px;
    padding: 4%;
    padding-right: 10% 
  }
  
  header{
    margin: 0;
    padding: 0;
    background-color : #FFE521;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    height: 20.6%;
    background-image: none;
  }

  .card {
    border: 1px solid #000;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 5px;
   box-shadow: -1px 7px 16px -1px rgba(0,0,0,1);
    border: groove;
    background-color:#fff;
    border-top: 1px solid transparent; 
    border-bottom: 1px solid transparent; 
    margin-right: 15px;
    padding-right: 40px
  }
  
  .card .avatar {
    width: 100px;
    box-sizing: border-box;
    float: right;
    margin-right: -35px;
    margin-top: 50px
  }
  
  .card .avatar img {
    max-width: 100%;
  }
  
  .card .stats {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h4{
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  
  }
  
  .card .stats p{
    font-size: 14px;
    font-weight: normal;
  }
  .card:hover {
    border-color: #FFE521;
    box-shadow: inset 9px -2px 269px -40px  #FFE521;
    color: #030304
  }
}  
@media (max-width: 755px) {
  .card{    border-top: 1px solid transparent; 
    border-bottom: 1px solid transparent; }

.card .avatar {
  width: 165px;
  box-sizing: border-box;
  float: left;
  margin-left: 25%;
  margin-top: -2%
  
}

.card .avatar img {
  max-width: 100%;
}
 .card .stats {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h4{
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  
  }
  
} 
/*tamaños hasta 576px*/
@media (max-width: 576px) {
  .class1{
    padding-left:8px ;
    margin-top: 165px;
    padding-left: 10%; 
    padding-right: 10%; 
  }
  
  header{
    margin: 0;
    padding: 0;
    background-color : #FFE521;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    height: 20.6%;
    background-image: none;
  }

  .card {

    max-width: 80%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 5px;
   box-shadow: -1px 7px 16px -1px rgba(0,0,0,1);
    border: groove;
    background-color:#fff;
    border-top: 1px solid transparent; 
    border-bottom: 1px solid transparent; 
  }
  
  .card .avatar {
    width: 165px;
    box-sizing: border-box;
    float: left;
    margin-left: 30%;
    margin-top: -2%
    
  }
  
  .card .avatar img {
    max-width: 100%;
  }
  
  .card .stats {
    width: 70%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  
  .card .stats h4{
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  
  }
  
  .card .stats p{
    font-size: 14px;
    font-weight: normal;
  }
  .card:hover {
    border-color: #FFE521;
    box-shadow: inset 9px -2px 269px -40px  #FFE521;
    color: #030304
  }
  label,select,span{
  }
}