@import url('https://fonts.googleapis.com/css?family=Roboto');
html{width: 100%;
height: 100%;}
body{width: 100%;
    height: 100%;}
@media (min-width: 320px){
.square{
    background-color: #ffffff81;
    border-radius: 20px;
    border: #ffffff81;
    background-image: url(imagen/Laboratoria_RGB_logo-04.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 45%;
    background-position-y: 10px;
    width:75%;
    height: 35%;
    padding-top: 40%;
    padding-left: 10%;
}

.form{ display: flex}

body{
    background-color : #FFE521;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 45%;

}
#name{
     margin: 7%;
    font-size: 17px

}
button{
    background-color: white;
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 9%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFE521;
    border: #ffffff81;
}
label{    
      font-size: 10px;
    text-align: center;
 margin-bottom: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 7%
} 
input{
    margin-left: -20px;

}  
}
@media (min-width: 320px){}
@media (min-width: 722px)
{
    .square{
        padding: 5%;
        padding-top:20%;
        padding-left:35%;
        background-size: 450px;
    }
   
    button
     { margin: 2%;
        margin-top: 20%;
    margin-left:0%}
}

@media (min-width: 872px){
    p{font-size: 50px;}
    .square{  background-position-x:50%;
        background-position-y: 10px;}
}
@media (min-width: 1042px){
    .square { background-size: 550px; 
          padding-top: 20%;}
 
}}
@media (min-width: 1200px){
.square {
    padding-top: 10%;
   
}}